<script>
	import { url } from "@sveltech/routify"
	import WizardStep from "~/components/WizardStep.svelte"
	import HelpFilterButton from "~/components/HelpFilterButton.svelte"
	import { _ } from "svelte-i18n"
	import * as icons from "~/assets/aideIcons"

	export let scoped
	$: ({ wizardMode } = scoped)

	function createOptions(labels, checkedOptions) {
		return labels.map((label) => {
			return {
				title: $_(`filter.aide.labels.${label}.label`),
				value: label,
			}
		})
	}
</script>

<!-- routify:options name="aide-filter" -->

<WizardStep let:select let:step let:value let:next {wizardMode}>
	<div class="max-w-2xl mx-auto space-y-4">
		{#each step.values as { name, label, description, labels } (name)}
			<HelpFilterButton
				icon={icons[`aide_${name}`]}
				label={$_(label)}
				description={$_(description)}
				selected={value && name === value.accompagnement}
				labelsChecked={value ? value.labels : []}
				labels={createOptions(labels, value ? value.accompagnement : [])}
				on:updated={({ detail }) => {
					select({ accompagnement: name, labels: detail }, false)
				}}
				on:next={next} />
		{/each}
	</div>
</WizardStep>
