<script>
	export let address = null
	export let url = null
	export let e_mail = null
	export let telephone = null

	import { _ } from "svelte-i18n"
	import PostalAddress from "./PostalAddress.svelte"
</script>

{#if address}
	<PostalAddress {...address} />
{/if}

{#if e_mail}
	<div class="my-2">
		<a href="mailto:{e_mail}">{e_mail}</a>
	</div>
{/if}

{#if telephone}
	<div class="my-2">
		<a href={`tel:${telephone}`}>{telephone}</a>
	</div>
{/if}

{#if url}
	<div class="my-2">
		<a href={url}>{url}</a>
	</div>
{/if}
