<script>
	export let streetAddress = null
	export let postalCode = null
	export let addressLocality = null

	const addressString = [streetAddress, postalCode, addressLocality].filter((elt) => elt !== null).join(" ")

	const osmUrl = `https://www.openstreetmap.org/directions?to=${addressString}`
	const gMapUrl = `https://www.google.com/maps/dir//${addressString}`
	const mappyUrl = `https://fr.mappy.com/#/1/M2/TSearch/S${addressString}`
	const ratpUrl = `https://www.ratp.fr/itineraires/&${addressString}`
</script>

<ul class="list-disc list-inside ms-4">
	<li>
		<a href={osmUrl}>OpenStreetMap</a>
	</li>
	<li>
		<a href={gMapUrl}>Google Maps</a>
	</li>
	<li>
		<a href={mappyUrl}>Mappy</a>
	</li>
	<li>
		<a href={ratpUrl}>RATP</a>
	</li>
</ul>
