<script>
	export let latitude
	export let longitude

	import { _ } from "svelte-i18n"
	import config from "~/config.js"

	let height
	let width
	$: if (width > 0) {
		height = Math.floor(width * (3 / 4))
	}

	function staticMapLink(latitude, longitude, height, width, { zoom = 14, scale2x = false } = {}) {
		return `https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s(${longitude},${latitude})/${longitude},${latitude},${zoom},0/${width}x${height}${
			scale2x ? `@2x` : ""
		}?access_token=${config.mapboxAccessToken}`
	}
</script>

<div bind:clientWidth={width}>
	{#if width && height}
		<img
			width="600"
			height="450"
			alt={$_('page.structures.static_map.alt')}
			src={staticMapLink(latitude, longitude, height, width, { scale2x: true })}
			srcset={[staticMapLink(latitude, longitude, height, width), `${staticMapLink(latitude, longitude, height, width, {
					scale2x: true,
				})} 2x`].join(', ')} />
	{/if}
</div>
