<script>
	import { fetchInitialMetaData } from "~/stores.js"

	fetchInitialMetaData()
</script>

<div class="mapbox-skin">
	<slot />
</div>

<style>
	.mapbox-skin {
		background-color: #efe9e1;
	}
</style>
