<script>
	import {
		Map,
		AttributionControl,
		NavigationControl,
		GeolocateControl,
		GeoJSONSource,
		Layer,
		Popup,
	} from "@jailbreak-paris/svelte-mapbox-gl"
	import "mapbox-gl/dist/mapbox-gl.css"
	import { _ } from "svelte-i18n"
	import { onMount } from "svelte"
	import { goto, url } from "@sveltech/routify"
	import config from "~/config.js"
	import { LIEU } from "~/constants.js"
	import { findFeatureById, hasFeatures } from "~/model.js"
	import { filterFeatures } from "~/search.js"
	import { translate, trash, chevronDown } from "~/assets/heroicons.js"
	import { filters, mapLocation, structures, localeItem, labelsWithIcon } from "~/stores.js"
	import { getStepValueLabel, steps } from "~/steps.js"
	import Dropdown from "~/components/Dropdown.svelte"
	import LocalePicker from "~/components/LocalePicker.svelte"
	import SvgIcon from "~/components/SvgIcon.svelte"
	import EnrichTheMapButton from "~/components/EnrichTheMapButton.svelte"
	import {
		iconImageExpression,
		clusterLayerFilter,
		symbolLayerFilter,
		clusterLayerLayout,
		symbolLayerLayout,
	} from "~/helpers/mapLayerHelpers"
	import { loadMapImages, handleImageMissing } from "~/helpers/mapImageLoader"
	import { getStepIconData } from "~/helpers/stepIconHelper"

	import SvgData from "~/components/SvgData.svelte"

	// Constants
	const sourceId = "structures"

	const initialCenter = mapLocation.isCoordinatesMode($mapLocation)
		? $mapLocation.value.center
		: mapLocation.isAddressMode($mapLocation)
		? $mapLocation.value.geometry.coordinates
		: { lat: 48.85, lng: 2.41 }

	const initialZoom = mapLocation.isCoordinatesMode($mapLocation)
		? $mapLocation.value.zoom
		: mapLocation.isAddressMode($mapLocation)
		? getFeatureZoom($mapLocation.value)
		: 10

	function getFeatureZoom(feature) {
		const zoomMap = {
			housenumber: 15,
			street: 15,
			municipality: 13.5,
		}
		return zoomMap[feature.properties.type]
	}

	// Local state
	let map
	let geolocateControl
	let imagesLoaded = false
	let hoveredFeature = null

	// Visible structures are those matching filters. Before store is ready, start with an empty feature collection.
	let visibleStructures = { features: [], type: "FeatureCollection" }
	$: if ($structures && hasFeatures($structures)) {
		applyFilters()
	}

	function setCursor(name) {
		map.getCanvas().style.cursor = name
	}

	function patchProperties(feature) {
		// Due to this bug https://github.com/mapbox/mapbox-gl-js/issues/2434
		// We have to find the original feature properties.
		const originalFeature = $structures && findFeatureById($structures, feature.id)
		if (originalFeature) {
			feature.properties = originalFeature.properties
		}
	}

	function selectFeature(event) {
		const { features } = event.detail
		const feature = features[0]
		$goto("structure", { id: feature.id })
	}

	function unhighlightAllFeatures() {
		// Remove highlighted state for all features, this can happen when their circles overlap.
		let loaded
		try {
			loaded = map.isSourceLoaded(sourceId)
		} catch (error) {
			loaded = false
		}
		if (!loaded) {
			return
		}
		for (const feature of visibleStructures.features) {
			map.setFeatureState({ ...feature, source: sourceId }, { highlighted: false })
		}
	}

	function applyFilters() {
		// Change feature icon along theme filter
		symbolLayerLayout["icon-image"] = $filters.theme || iconImageExpression

		// Apply filters and set visible structures
		if ($structures && hasFeatures($structures)) {
			visibleStructures.features = filterFeatures($structures.features, $filters)
		}
	}

	function handleLayerMouseMove(event) {
		setCursor("pointer")
		const { features } = event.detail
		hoveredFeature = features[0]
		patchProperties(hoveredFeature)
		unhighlightAllFeatures()
		map.setFeatureState(hoveredFeature, { highlighted: true })
	}

	function handleLayerMouseLeave() {
		unhighlightAllFeatures()
		setCursor("")
		hoveredFeature = null
	}

	function handleClusterClick(e) {
		let feature = e.detail.features[0]
		let clusterId = feature.properties.cluster_id
		map.getSource(sourceId).getClusterExpansionZoom(clusterId, function (err, zoom) {
			if (err) return
			map.easeTo({
				center: feature.geometry.coordinates,
				zoom,
			})
		})
	}

	function handleResetFiltersClick() {
		filters.reset()
		mapLocation.reset()
		applyFilters()
	}

	onMount(async () => {
		// Load map images corresponding to themes.
		await loadMapImages(map)
		imagesLoaded = true

		map.on("styleimagemissing", handleImageMissing)
	})

	function handleMapLoad() {
		if (mapLocation.isGeolocateMode($mapLocation)) {
			geolocateControl.trigger()
		}
	}

	function handleMapMoveEnd() {
		const center = map.getCenter()
		const zoom = map.getZoom()
		mapLocation.setCoordinates({ center, zoom })
	}
</script>

<!-- routify:options name="map" -->

<div class="h-screen">
	<Map
		bind:map
		accessToken={config.mapboxAccessToken}
		style="mapbox://styles/mapbox/streets-v11"
		center={initialCenter}
		attributionControl={false}
		zoom={initialZoom}
		on:load={handleMapLoad}
		on:moveend={handleMapMoveEnd}>
		<NavigationControl />
		<GeolocateControl bind:ref={geolocateControl} />
		<AttributionControl />
		<GeoJSONSource id={sourceId} data={visibleStructures} cluster={true} clusterMaxZoom={11} clusterRadius={100}>
			{#if imagesLoaded}
				<Layer
					id="clusters"
					type="symbol"
					filter={clusterLayerFilter}
					layout={clusterLayerLayout}
					paint={{ 'text-color': '#fff' }}
					on:mousemove={() => setCursor('pointer')}
					on:mouseleave={() => setCursor('')}
					on:click={handleClusterClick} />
				<Layer
					id={`${sourceId}-symbol`}
					type="symbol"
					filter={symbolLayerFilter}
					layout={symbolLayerLayout}
					on:mousemove={handleLayerMouseMove}
					on:mouseleave={handleLayerMouseLeave}
					on:click={selectFeature} />
			{/if}
		</GeoJSONSource>
		{#if hoveredFeature && hoveredFeature.properties.lieu_nom}
			<Popup
				coordinates={hoveredFeature.geometry.coordinates}
				closeButton={false}
				offset={[0, -25]}
				maxWidth="400px"
				className="text-center z-10">
				<span class="flex flex-col">
					<span class="font-bold text-gray-800">{hoveredFeature.properties.lieu_nom}</span>
					{#if hoveredFeature.properties.label.length > 0}
						<span class="text-gray-700 flex flex-wrap justify-center">
							{#each hoveredFeature.properties.label as label}
								{#if $labelsWithIcon.includes(label)}
									<img
										src={$url(`/labels-logos/label-${label}.png`)}
										class="m-2 h-8 object-contain object-left flex-shrink-0"
										alt={$_(`label.${label}.label`)} />
								{/if}
							{/each}
						</span>
					{/if}
				</span>
			</Popup>
		{/if}
	</Map>
</div>

<div class="toolbar toolbar-top">
	<a href={$url('/')} class="logo-francilin">
		<img class="h-10 rounded" src={$url('/logo-francilin-h128.jpg')} alt={$_('navbar.logo.alt')} />
	</a>

	{#each steps as { name, label, route, icon } (name)}
		<a
			class="btn-mapbox filter px-px py-0 h-10 mx-1 md:px-2 md:mx-2 flex items-center"
			class:filter-unset={name === LIEU ? false : $filters[name] === null}
			href={$url(route)}>
			<SvgData data={getStepIconData(name, $filters)} fill="#000000" class="inline md:hidden h-8 max-w-full" />
			<span class="text hidden md:inline">
				{name === LIEU || $filters[name] === null ? $_(label) : $_(getStepValueLabel(name))}
			</span>
		</a>
	{/each}

	{#if filters.anyDefined($filters) || mapLocation.isAddressMode($mapLocation)}
		<button
			class="text-gray-700 hover:text-gray-800"
			on:click={handleResetFiltersClick}
			title={$_('navbar.reset_all_filters')}>
			<SvgIcon size={36} {...trash} />
		</button>
	{/if}
</div>

<div class="toolbar toolbar-bottom">
	<a class="btn-mapbox me-2" href={$url('about')}>{$_('navbar.button.about')}</a>
	<Dropdown let:close placement="top" btnClass="btn-mapbox sm:w-40 me-2" className="translate-container">
		<div slot="button" class="translate-btn flex items-center justify-center">
			<SvgIcon class="h-6" size={20} {...translate} />
			<div class="text hidden sm:block">{$localeItem.label}</div>
			<SvgIcon size={20} {...chevronDown} />
		</div>
		<LocalePicker on:change={close} />
	</Dropdown>
	<EnrichTheMapButton />
</div>

<style>
	* :global(.mapboxgl-map) {
		@apply font-sans text-base;
	}
	* :global(.mapboxgl-popup-content) {
		@apply p-3;
	}
	* :global(.mapboxgl-ctrl-bottom-left) {
		bottom: 60px;
		left: 10px;
		position: fixed;
	}

	.logo-francilin {
		@apply flex-none shadow-mapbox rounded m-1 mr-2;
	}

	.toolbar {
		@apply flex overflow-x-auto overflow-y-visible whitespace-no-wrap items-center;
	}

	.toolbar-top {
		position: absolute;
		top: 8px;
		left: 8px;
		/* we need scrollbar-x for smartphone */
		max-width: calc(100% - 48px);
	}

	.toolbar-bottom {
		/* fixed for mobile : height of 100vh, problem when you scroll */
		position: fixed;
		bottom: 8px;
		left: 8px;
		max-width: calc(100% - 20px);
	}

	@media (max-width: 767.77px) {
		.filter-unset {
			@apply bg-orange-500;

			&:hover {
				@apply bg-orange-600;
			}
		}
	}

	* > :global(.translate-container) {
		@apply flex;
	}
</style>
