<script>
	import { homepage as sourceCodeUrl } from "~/../package.json"
	import { _ } from "svelte-i18n"
	import { url } from "@sveltech/routify"

	const iciUrl = "https://www.associationici.fr/"
	const astsUrl = "http://www.asts.paris/"
	const lepcUrl = "https://www.reseau-lepc.fr/"

	const francilinContactEmail = "equipe@francilin.fr"
</script>

<!-- routify:options name="about" -->

<h1 class="mb-4">{$_('page.about.title').toUpperCase()}</h1>

<div class="typography grid gap-16 sm:grid-cols-2">
	<div>
		<p>
			{@html `<span class="font-bold">Hub Francil’IN</span> est un groupement d'intérêt économique (GIE) porté par trois associations : <a href="${iciUrl}" target="_blank" rel="noopener">ICI</a>, <a href="${astsUrl}" target="_blank" rel="noopener">ASTS</a> et les <a href="${lepcUrl}" target="_blank" rel="noopener">Entreprises pour la Cité</a>.`}
		</p>

		<div class="flex flex-wrap justify-center my-4 space-x-4 space-y-4">
			<a href={iciUrl} target="_blank" rel="noopener" title="ICI">
				<img class="logo" src={$url('/images/logo_ICI.jpg')} alt="logo ICI" />
			</a>
			<a href={astsUrl} target="_blank" rel="noopener" title="ASTS">
				<img class="logo" src={$url('/images/logo_ASTS.png')} alt="logo ASTS" />
			</a>
			<a href={lepcUrl} target="_blank" rel="noopener" title="Entreprises pour la Cité">
				<img class="logo" src={$url('/images/logo_LEPC.png')} alt="Entreprises pour la Cité" />
			</a>
		</div>

		<p>
			{@html `<span class="font-bold">Francil'IN est un des onze Hubs France Connectée</span> qui sont un dispositif innovant de la Banque des Territoires (Groupe Caisse des Dépôts). <a href="https://www.banquedesterritoires.fr/lancement-de-lappel-projets-hubs-france-connectee" target="_blank" rel="noopener">En savoir plus sur l’appel à projet</a>.`}
		</p>

		<p>
			{@html `Les Hubs font partie d'une <span class="font-bold">mission majeure</span> de la <a href="https://societenumerique.gouv.fr/plannational/">Stratégie Nationale pour un numérique inclusif</a> impulsée par la Mission Société Numérique de l'<a href="https://www.cohesion-territoires.gouv.fr/lagence-nationale-de-la-cohesion-des-territoires" target="_blank" rel="noopener">Agence nationale de la cohésion des territoires</a>.`}
		</p>

		<p>
			{@html `La mission du Hub Francil'IN est d'<span class="font-bold">accompagner les stratégies d'inclusion numériques des territoires</span> pour contribuer à la <span class="font-bold">réduction de la fracture numérique</span> en Île-de-France.`}
		</p>
	</div>

	<div>
		<h2>Les objectifs de la cartographie</h2>

		<ul>
			<li>Orienter plus facilement les publics,</li>
			<li>Fluidifier le travail de partenaires vers des lieux de médiation numérique identifiés et qualifiés,</li>
			<li>
				Créer ou pérenniser des réseaux d’acteurs locaux en créant une dynamique vertueuse autour de la gouvernance des
				données.
			</li>
		</ul>

		<h2 class="mt-8">Cette initiative est portée par</h2>

		<div class="flex flex-wrap justify-center my-4 space-x-4 space-y-4">
			<a href="https://www.banquedesterritoires.fr/" target="_blank" rel="noopener" title="Banque des territoires">
				<img class="logo" src={$url('/images/logo_banque_des_territoires.png')} alt="logo Banques des territoires" />
			</a>
			<a href="https://societenumerique.gouv.fr/" target="_blank" rel="noopener" title="Mission Société Numérique">
				<img
					class="logo"
					src={$url('/images/logo_mission_societe_numerique.png')}
					alt="logo Mission Société Numérique" />
			</a>
		</div>

		<h2 class="mt-8">Pour en savoir plus</h2>

		<p>
			Contact :
			<a href="mailto:{francilinContactEmail}">{francilinContactEmail}</a>
		</p>

		<p>
			<a href={sourceCodeUrl} target="_blank" rel="noopener">Code source de l'application</a>
		</p>
	</div>
</div>

<style>
	.logo {
		@apply inline-block h-20;
	}
</style>
