<script>
	export let open = false
	export let placement = "auto"
	export let btnClass = ""
	export let className = ""

	import { createPopperActions } from "svelte-popperjs"
	import clickOutside from "svelte-outside-click"
	import portal from "~/actions/portal.js"

	const [popperRef, popperContent] = createPopperActions()
	const popperOptions = {
		placement,
		modifiers: [{ name: "offset", options: { offset: [0, 8] } }],
	}

	let showTooltip = false

	function close() {
		open = false
	}

	function toggle() {
		open = !open
	}
</script>

<svelte:window
	on:keydown={(event) => {
		if (event.key === 'Escape') {
			close()
			return
		}
	}} />

<div use:clickOutside={close} class={className}>
	<button on:click={toggle} use:popperRef class={btnClass}>
		<slot name="button" />
	</button>
	{#if open}
		<div class="rounded shadow-mapbox bg-white z-10" use:popperContent={popperOptions} use:portal>
			<slot {toggle} {close} />
		</div>
	{/if}
</div>
