<script>
	import config from "~/config.js"
	import { _ } from "svelte-i18n"
</script>

<a
	class="btn-outlined shadow-pink m-1 text-pink-500 border-0 hover:text-pink-700 hover:bg-pink-100"
	href={config.enrichTheMapUrl}
	target="_blank"
	rel="noopener"
	title={$_('navbar.button.enrich_the_map.tooltip')}>
	{$_('navbar.button.enrich_the_map.text')}
</a>
