<script>
	export let disabled
	export let selected

	import { _ } from "svelte-i18n"
	import { mapLocation } from "~/stores.js"
</script>

<button
	class="btn-light flex items-center justify-center mb-1 w-full"
	class:selected
	on:click={() => {
		mapLocation.setGeolocateMode()
	}}
	{disabled}>
	<svg width="29" height="29" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
		<path
			fill="#374151"
			d="M10 4C9 4 9 5 9 5v.1A5 5 0 005.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 009 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0
			003.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0011 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 110 7 3.5 3.5 0 110-7z" />
		<circle fill="#ffffff" cx="10" cy="10" r="2" />
	</svg>
	<span class="ms-2">{$_('filter.lieu.geolocateme')}</span>
</button>

<style>
	svg path,
	svg circle {
		fill: theme("colors.gray.700");
	}

	.selected {
		@apply bg-gray-500 text-white;

		svg path,
		svg circle {
			fill: theme("colors.white");
		}
	}
</style>
