<script>
	import { _ } from "svelte-i18n"
	import { url } from "@sveltech/routify"
	import { slide } from "svelte/transition"
	import { quintOut } from "svelte/easing"
	import { createEventDispatcher } from "svelte"
	import SvgData from "~/components/SvgData.svelte"

	export let icon = null
	export let label
	export let description
	export let selected = false
	export let labels = []
	export let labelsChecked = []

	const dispatch = createEventDispatcher()

	function handleUpdateOptions(e) {
		let checked = e.target.checked
		let value = e.target.value

		let newOptionsChecked = [...labelsChecked]
		if (checked && !labelsChecked.includes(value)) {
			newOptionsChecked.push(value)
		}
		if (!checked && labelsChecked.includes(value)) {
			let pos = newOptionsChecked.indexOf(value)
			newOptionsChecked.splice(pos, 1)
		}
		dispatch("updated", newOptionsChecked)
		e.stopPropagation()
	}

	function handleClickGeneral(e) {
		if (labels.length === 0) {
			dispatch("updated", [])
			dispatch("next")
		} else if (!selected) {
			dispatch("updated", labelsChecked)
		}
	}

	function handleKeydown(e) {
		if (e.key === "Enter") {
			handleClickGeneral(e)
		}
	}
</script>

<div
	class="filter-button sm:px-4 md:px-8"
	class:selected
	on:click={handleClickGeneral}
	on:keydown={handleKeydown}
	tabindex="0">
	<div class="flex">
		<span class="sr-only">{$_('selected_value')}</span>
		{#if icon}
			<span class="h-12 me-3">
				<SvgData data={icon} fill="#000000" size="48px" />
			</span>
		{/if}
		<div>
			<div class="font-bold">{label}</div>
			<div class="text-gray-700 font-normal">{description}</div>
		</div>
	</div>
	{#if selected && labels.length > 0}
		<div class="labels mt-2" transition:slide|local={{ duration: 300, easing: quintOut }}>
			{#each labels as { title, value } (value)}
				<label on:click|stopPropagation class="flex items-center cursor-pointer">
					<span class="input-container inline-block text-center w-12 me-2 sm:inline sm:w-auto flex-shrink-0">
						<input
							type="checkbox"
							class="form-checkbox"
							checked={labelsChecked.includes(value)}
							on:change={handleUpdateOptions}
							{value} />
					</span>

					<img
						src={$url(`/labels-logos/label-${value}.png`)}
						class="me-2 h-8 object-contain object-left flex-shrink-0"
						alt={title} />
					<span class="me-2 font-normal text-gray-700">{title}</span>
				</label>
			{/each}
		</div>
	{/if}
</div>

<style>
	.form-checkbox + span {
		@apply cursor-pointer;
	}
	@screen sm {
		.labels {
			margin-left: 56px;
		}
	}
	label img {
		width: 90px;
	}
</style>
