<script>
	import { onMount, onDestroy, afterUpdate, tick } from "svelte"

	export let baseWidth = 260
	export let gutter = 20
	export let minify = true
	export let maxCols = 2
	export let items = []

	const centerMasonry = false

	let masonryElement

	let _bricks = []
	let _colH = []
	let _nbColumns = null
	let _width = 0
	let _resizeTimeout = null

	$: if (items) {
		init()
	}

	onMount(() => {
		window.addEventListener("resize", resizeThrottler)
		init()
	})

	onDestroy(() => {
		window.removeEventListener("resize", resizeThrottler)
	})

	async function init() {
		await tick()
		if (!masonryElement) {
			return
		}
		_bricks = []
		for (let elt of masonryElement.children) {
			elt.style.position = "absolute"
			_bricks.push({ elt })
		}
		layout()
	}

	function reset() {
		_colH = []
		_nbColumns = null
		_width = masonryElement.clientWidth
	}

	function getCount() {
		return Math.floor((_width + gutter) / (baseWidth + gutter))
	}

	function layout() {
		reset()

		let nbCols = getCount()
		if (nbCols <= 1) {
			_nbColumns = 1
		} else {
			_nbColumns = nbCols > maxCols ? maxCols : nbCols
		}

		let width = (_width + gutter) / _nbColumns - gutter

		for (let i = 0; i < _nbColumns; i++) {
			_colH[i] = 0
		}

		//On fixe la largeur que prendra la colonne et on récupère la hauteur qu'il prendra
		_bricks.forEach((brick) => {
			brick.elt.style.width = width + "px"
			brick.height = brick.elt.clientHeight
		})

		let initialLeft = 0 //gutter;
		if (centerMasonry && _nbColumns > _bricks.length) {
			//Centrer les items s'il y a plus de colonnes que d'items
			initialLeft = (_width + gutter - (width + gutter) * _bricks.length - gutter) / 2
		}

		//Computing position of children
		_bricks.forEach((brick, index) => {
			let shortest = minify ? getShortest() : getNextColumn(index)

			let x = initialLeft + (width + gutter) * shortest
			let y = _colH[shortest]

			brick.elt.style.left = x + "px"
			brick.elt.style.top = y + "px"
			_colH[shortest] += brick.height + gutter
		})

		masonryElement.style.height = _colH[getLongest()] + "px"
	}

	function getNextColumn(index) {
		return index % _colH.length
	}

	function getShortest() {
		let shortest = 0
		for (let i = 0; i < _nbColumns; i++) {
			if (_colH[i] < _colH[shortest]) {
				shortest = i
			}
		}

		return shortest
	}

	function getLongest() {
		let longest = 0
		for (let i = 0; i < _nbColumns; i++) {
			if (_colH[i] > _colH[longest]) {
				longest = i
			}
		}

		return longest
	}

	function resizeThrottler() {
		if (!_resizeTimeout) {
			_resizeTimeout = setTimeout(function () {
				_resizeTimeout = null
				if (masonryElement.clientWidth != _width) {
					layout()
				}
			}, 33)
		}
	}
</script>

<div bind:this={masonryElement} class="block relative">
	<slot />
</div>
