<script>
	import { _ } from "svelte-i18n"
	import { url } from "@sveltech/routify"
	import { chevronDown, translate } from "~/assets/heroicons.js"
	import { localeItem } from "~/stores.js"
	import Dropdown from "~/components/Dropdown.svelte"
	import LocalePicker from "~/components/LocalePicker.svelte"
	import SvgIcon from "~/components/SvgIcon.svelte"
</script>

<nav class="flex flex-col md:flex-row items-center px-2 md:pl-4 md:pr-32">
	<a href={$url('/')}>
		<img
			class="inline-block h-16 object-scale-down"
			src={$url('/logo-francilin-h128.jpg')}
			alt={$_('navbar.logo.alt')} />
	</a>
	<div class="mt-4 mb-4 md:mt-0 md:mb-0 md:ms-auto md:me-4 flex">
		<a href={$url('map')} class="btn nav-item mr-2 sm:mr-4 flex items-center justify-center">
			{$_('navbar.go_to_map')}
		</a>
		<Dropdown let:close btnClass="btn w-full" className="nav-item">
			<div slot="button" class="flex items-center justify-center">
				<SvgIcon class="h-6" size={20} {...translate} />
				<div class="text">{$localeItem.label}</div>
				<SvgIcon size={20} {...chevronDown} />
			</div>
			<LocalePicker on:change={close} />
		</Dropdown>
	</div>

</nav>

<style>
	* > :global(.nav-item) {
		width: 170px;
	}

	@screen sm {
		.nav-item {
			@apply px-4;
		}
	}
	.text {
		@apply mx-1;
	}
</style>
