<script>
	export let structureName = null
	export let adresse = null
	export let code_postal = null
	export let commune = null
	export let e_mail = null
	export let telephone = null
	export let site_web = null
	export let horaires = null
	export let coordinates = null
	export let aide = null
	export let accessibilite = null
	export let services = []
	export let mise_a_jour = null
	export let label = []
	export let printerMode = false

	import { _, locale } from "svelte-i18n"
	import { url } from "@sveltech/routify"
	import { link } from "~/assets/heroicons.js"
	import config from "~/config"
	import { themeIdFromServiceId } from "~/model.js"
	import { printableUrlToScreen } from "../pdf"

	import SvgData from "~/components/SvgData.svelte"
	import SvgIcon from "~/components/SvgIcon.svelte"
	import MapboxStaticMap from "./schema.org/MapboxStaticMap.svelte"
	import CivicStructure from "./schema.org/CivicStructure.svelte"
	import OpeningHours from "./schema.org/OpeningHours.svelte"
	import Itineraries from "./schema.org/Itineraries.svelte"
	import Labels from "./schema.org/Labels.svelte"
	import Masonry from "./Masonry.svelte"
	import ServiceGroup from "./ServiceGroup.svelte"
	import * as structureIcons from "~/assets/structureIcons"

	$: updatedOn = mise_a_jour ? new Date(mise_a_jour).toLocaleDateString($locale) : null

	// Groups services by categories
	// categories and services are sorted along their identifiers
	function computeServiceGroups(providesService) {
		if (!providesService) {
			return []
		}

		// Group services by category
		const categoryMap = new Map()
		for (const service of providesService) {
			const categoryId = service.category.identifier
			if (!categoryMap.has(categoryId)) {
				categoryMap.set(categoryId, [])
			}
			categoryMap.get(categoryId).push(service)
		}

		// Sort categories by id
		const categoryList = [...categoryMap.keys()].sort((a, b) => a - b)

		return categoryList.map((categoryId) => ({
			identifier: categoryId,
			name: categoryMap.get(categoryId)[0].category.name,
			services: categoryMap.get(categoryId).sort((a, b) => a.identifier - b.identifier),
		}))
	}

	$: address = {
		streetAddress: adresse,
		postalCode: code_postal,
		addressLocality: commune,
	}

	$: providedServices = services.map((serviceId) => {
		const themeId = themeIdFromServiceId(serviceId)

		// https://schema.org/Service
		return {
			category: {
				identifier: themeId,
			},
			identifier: serviceId,
		}
	})

	$: serviceGroups = computeServiceGroups(providedServices)
</script>

<div class="structure">
	<div class="content-block">
		<header>
			<h1 class="text-center font-semibold mb-1">
				{structureName}
				<a
					class="icon-link"
					href={printableUrlToScreen(window.location)}
					title={$_('page.structures.tooltip.permalink')}>
					<SvgIcon {...link} />
				</a>
			</h1>
			{#if mise_a_jour}
				<p class="text-center font-semibold">{$_('page.structures.updated_on')} {updatedOn}</p>
			{/if}
			<p class="text-center text-sm italic">
				<a href={config.enrichTheMapUrl} target="_blank">{$_('page.structures.edit')}</a>
			</p>
		</header>

		<slot name="tools" />

		<div class="mt-8 grid gap-16 sm:grid-cols-2 print:grid-cols-2 print:gap-8 principal-content">

			<div class="space-y-16 print:space-y-8">
				{#if coordinates}
					<MapboxStaticMap latitude={coordinates[1]} longitude={coordinates[0]} />
				{/if}
				<div>
					<div class="item-title">
						<SvgData data={structureIcons.structure_coordonnees} size="48px" />
						<h2>{$_('page.structures.section.coords')}</h2>
					</div>
					<div class="item-content">
						<CivicStructure {address} {e_mail} {telephone} url={site_web} />
					</div>
				</div>
				<div>
					<div class="item-title">
						<SvgData data={structureIcons.structure_itineraires} size="48px" />
						<h2>{$_('page.structures.section.itineraries')}</h2>
					</div>
					<Itineraries {...address} />
				</div>
			</div>

			<div class="space-y-16 print:space-y-8">
				<div>
					<div class="item-title">
						<SvgData data={structureIcons.structure_horaires} size="48px" />
						<h2>{$_('page.structures.section.openinghours')}</h2>
					</div>
					<OpeningHours value={horaires} />
				</div>

				{#if aide.length > 0}
					<div>
						<div class="item-title">
							<SvgData data={structureIcons.structure_accompagnement} size="48px" />
							<h2>{$_('page.structures.section.aide')}</h2>
						</div>
						<ul class="item-content list-disc list-inside">
							{#each aide as code (code)}
								<li>{$_(`filter.aide.value.${code}.label`)}</li>
							{/each}
						</ul>
					</div>
				{/if}

				{#if accessibilite}
					<div>
						<div class="item-title">
							<SvgData data={structureIcons.structure_accessibilite} size="48px" />
							<h2>{$_('page.structures.section.accessibility')}</h2>
						</div>
						<p class="item-content">
							{$_(`page.structures.accessibility_info.${accessibilite === 'oui' ? 'yes' : 'no'}`)}
						</p>
					</div>
				{/if}

				{#if label.length > 0}
					<div>
						<div class="item-title">
							<SvgData data={structureIcons.structure_label} size="48px" />
							<h2>{$_('page.structures.section.labels')}</h2>
						</div>
						<Labels value={label} />
					</div>
				{/if}
			</div>

		</div>
	</div>

	{#if services.length > 0}
		<div class="services mt-16 print:mt-0 content-block">
			<div class="item-title">
				<SvgData data={structureIcons.structure_services} size="48px" />
				<h2>{$_('page.structures.section.services')}</h2>
			</div>

			{#if printerMode}
				<!-- c'est plus esthétique de n'afficher les services que sur 1 colonne s'ils ne sont pas nombreux -->
				<div class:type-2-columns={serviceGroups.length > 2}>
					{#each serviceGroups as serviceGroup (serviceGroup.identifier)}
						<ServiceGroup value={serviceGroup} />
					{/each}
				</div>
			{:else if serviceGroups.length > 0}
				<Masonry baseWidth={260} gutter={20} minify={true} maxCols={2} items={serviceGroups}>
					{#each serviceGroups as serviceGroup (serviceGroup.identifier)}
						<ServiceGroup value={serviceGroup} />
					{/each}
				</Masonry>
			{/if}

		</div>
	{/if}

</div>

<style>
	.type-2-columns {
		column-count: 2;
	}

	header p {
		@apply mb-0;
	}

	/* Attention à ne pas appliquer des marges gauche/droite au layout qui sont spécifiques
	   au media Print, risque d'effets indésirables entre Puppeteer et Masonry
	*/

	/* 1ère page */
	.item-title {
		@apply flex items-center mb-4 text-black;
	}
	.item-title img {
		@apply mr-4 h-12;
	}
	.item-title h2 {
		@apply font-semibold text-xl;
	}

	* :global(ul),
	.item-content {
		@apply ml-4;
	}
	@screen sm {
		* :global(ul),
		.item-content {
			@apply ml-16;
		}
	}
</style>
