<script>
	export let currentStepIndex

	import { _ } from "svelte-i18n"
	import { steps } from "~/steps.js"
	import { redirectToWizardStep } from "~/pages/wizard/index.svelte"
</script>

<ul class="flex flex-wrap text-xs">
	{#each steps as step, index (step.name)}
		<li class="flex items-center" class:chevron-before={index > 0}>
			{#if index === currentStepIndex}
				<span class=" border-gray-700 item">{$_(step.label)}</span>
			{:else}
				<span
					class="cursor-pointer item border-white hover:border-gray-200"
					on:click={() => {
						redirectToWizardStep(step.route)
					}}>
					{$_(step.label)}
				</span>
			{/if}
		</li>
	{/each}
</ul>

<style>
	.chevron-before::before {
		content: ">";
		margin: 0.2em;
	}
	@screen sm {
		.chevron-before::before {
			margin: 0 1em;
		}
	}
	.item {
		@apply px-1 py-1 rounded border;
		transition: all 0.1s ease-out;
	}
</style>
