<script>
	import { _, locale, isLoading } from "svelte-i18n"
	import { Router } from "@sveltech/routify"
	import { routes } from "../.routify/routes"
	import TailwindCSS from "./TailwindCSS.svelte"

	$: if (!$isLoading) {
		document.dir = $_("direction")
	}

	function handleKeydown(e) {
		if (e.code === "Tab") {
			document.body.classList.add("with-a11y")
		}
	}
</script>

<TailwindCSS />
<svelte:window on:keydown={handleKeydown} />

{#if !$isLoading}
	<Router {routes} />
{/if}
